#wrap {
    padding-left: 10%;
    padding-right: 10%;
}

#headerBox {
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

#footerBox{
    width: 100%;
    height: 300px;
    border: 1px solid black;
}