#footerBox {
    width: 100%;
    margin: 0 auto;
}

#footer_info {
    font-size: 13px;
    color: #373737;
}

#footer_info h3{
    display: inline;
    margin-left: 30px;
}

#logoBox {
    display: inline-flex;
    text-align: center;
    align-items: center;
    text-decoration-line: none;
    color: #1ED760;
}

#logoBox:hover {
    opacity: 0.73;
}

#logoBox h2 {
    margin-right: 5px;
}

#spotify_logo {
    height: 40px;
}