.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu a {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
    font-weight: bold;
}

#indexBox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* 화면 전체 높이를 차지하도록 설정 (선택적) */
    border: 1px solid black;
}

#album_box {
    display: flex;
    justify-content: center; /* 테이블을 수평으로 가운데 정렬 */
    height: auto;
}

#album_result {
    text-align: center; /* 테이블 셀의 텍스트 가운데 정렬 */
}

#album_result td {
    margin: 0 auto; /* 테이블 셀 가로 방향 가운데 정렬 */
    vertical-align: middle; /* 테이블 셀의 콘텐츠를 수직으로 가운데 정렬 */
}

#album_result td img {
    width: 254px; /* 이미지의 너비를 254px로 설정 */
    height: 254px; /* 이미지의 높이를 254px로 설정 (선택 사항) */
}