.menu a {
    
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav.menu {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu a {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
    font-weight: bold;
}


#recomBox {
    width: 1240px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.recom_display {
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden;
}

.recom_display:nth-child(0) {
    float: left;
}

/* .recom_display li {
    border: 1px solid black;
} */

/* .recom_img_box > img {
    display: inline;
    overflow: hidden;
} */

.recom_item {
    position: relative;
    text-align: center;
    /* margin: 0 auto; */
    width: 200px;
    transition: transform 0.5s ease;
}

.recom_item .album_info {
    filter: blur(3px) grayscale(100%);
    transition: 1.5s ease;
    opacity: 0;
}

.recom_item .album_info:hover  {
    filter: blur(0) grayscale(0);
    transition: opacity 0.7s ease;
    opacity: 1;
}


.recom_img {
    position: relative;
    /* z-index: 1; */
    width: 200px;
}

.album_info {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 추가: 상위 div를 기준으로 절대 위치 설정 */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    /* z-index: 2; */
    text-align: center;
    bottom: 0;
    width: 200px; /* 이미지와 동일한 너비 */
    height: 200px; /* 이미지와 동일한 높이 */
  }

  .album_info p{
    margin-top: 20px;

  }

.like-button img {
    position: absolute;
    width: 40px;
    /* z-index: 3; */
    bottom: 10px;
    right: 10px;
  }

.back {
    font-size: large;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    position: relative;
    bottom: 120px; left: -20px;
    z-index: 4;
}

.next {
    font-size: large;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    position: relative;
    bottom: 120px; left: 1160px;
    z-index: 4;
}

.back:hover {
    opacity: 0.9;
    color: #3498db;
    border-color: #3498db;
}

.next:hover {
    opacity: 0.9;
    color: #3498db;
    border-color: #3498db;
}
