#recomBox {
    overflow: hidden;
}

.recom_img > img {
    display: inline;
    width: 200px;
    margin-right: 5px;
    overflow: hidden;
}

.recom_display {
    display: flex;
    overflow: hidden;
}