#recomBox {
    width: 1240px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.recom_display {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.recom_display:nth-child(0) {
    float: left;
}

/* .recom_display li {
    border: 1px solid black;
} */

/* .recom_img_box > img {
    display: inline;
    overflow: hidden;
} */

.recom_item {
    position: relative;
    text-align: center;
    /* margin: 0 auto; */
    width: 200px;
}


.recom_img {
    position: relative;
    z-index: 1;
    width: 200px;
    /* margin-right: 5px; */
    transition: all 0.2s linear;
}

.recom_img:hover {
    opacity: 0.7;
}

.album_info {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 추가: 상위 div를 기준으로 절대 위치 설정 */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 2;
    text-align: center;
    bottom: 0;
    width: 200px; /* 이미지와 동일한 너비 */
    height: 200px; /* 이미지와 동일한 높이 */
  }

  .album_info p{
    margin-top: 20px;

  }

.like-button img {
    position: absolute;
    width: 30px;
    z-index: 3;
  }

.back {
    width: 30px;
    height: 30px;
    color: blue;
    position: relative;
    bottom: 120px; left: 10px;
    z-index: 4;
}

.next {
    width: 30px;
    height: 30px;
    color: blue;
    position: relative;
    bottom: 120px; left: 1160px;
    z-index: 4;
}