#users {
    padding: 0;
    margin: 0 auto;
    border: none;
}

/* Add more styles as needed */

.login-wrapper{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.login-wrapper > h2{
    font-size: 48px;
    color: #6A24FE;
    margin-bottom: 20px;
    
}

#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #e35097;
    margin-top: 20px;
}
#login-form > input[type="button"]{
    color: #fff;
    font-size: 16px;
    background-color: #4b8dd8;
    margin-top: 20px;
}

#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#loginBtn {
    width: 70px;
}