{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>초기 페이지</title>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/header_css.css' %}">
    <link rel="stylesheet" href="{% static '/css/sign.css' %}">
    <link rel="stylesheet" href="{% static '/css/detail.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/css/music_recommend.css' %}">
    <link rel="stylesheet" href="{% static '/css/recommend.css' %}">
    <link rel="stylesheet" href="{% static '/css/analysis.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/recommend.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/Thumbs_up.js' %}"></script>
    <script src="{% static 'js/IDcheck.js' %}"></script>
    

</head>
<body>
    <div id="wrap">
        {% include "header.html" %}

        {% block content %}

        {% endblock content %}

        {% include "footer.html" %}
    </div>
</body>
</html>