<!-- 비밀번호 확인하고 맞으면 정보수정 접근 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="stylesheet" href="{% static '/css/sign.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
<div id="mypageBox">
    <nav id="mypage_nav">
        <a href="{% url 'playlist' %}">플레이리스트</a>
        <a href="{% url 'liked_album' %}">좋아요한 앨범</a>
        <a href="{% url 'liked_track' %}">좋아요한 트랙</a>
        <a href="{% url 'pwd_check' %}">회원정보</a>
    </nav>
<div id="users">
    <div class="login-wrapper">
        <h2>본인확인<br>비밀번호</h2>
        <form action="" method="post" id="login-form">
            {% csrf_token %}
            <input id="password_check" type="password" name="password_check" placeholder="비밀번호 확인" required oninvalid="this.setCustomValidity('회원정보 수정을 위하여 비밀번호 확인이 필요합니다.')">
        </form>
    </div>
</div>
<script>
    // 원래 비밀번호 확인 같은 중요한 데이터는 ajax를 잘 쓰지 않는다.
    // 그러나 비동기적 방법으로 보안까지 신경쓰기는 어렵기 때문에 이런 방법을 썼다.
    $(document).ready(() => {
        $('#login-form').on('submit', function(event) {
            event.preventDefault();
            let password = $('#password_check').val();
            let csrftoken = $('[name=csrfmiddlewaretoken]').val();

            $.ajax({
                type: 'POST',
                url: '{% url "pwd_check" %}', // django url 사용해도 잘 들어간다
                data: { password: password },
                dataType: 'json',
                headers: {'X-CSRFToken': csrftoken},
                success: function(data) {
                    // console.log(data)
                    if (data.success) {
                        window.location.href = '/users/user_update/';
                    } else {
                        alert('비밀번호가 올바르지 않습니다. 다시 입력해주세요.')
                    }
                },
                error: function(){
                    alert('비밀번호가 올바르지 않습니다. 다시 입력해주세요.')
                }
            });
        });
    });
</script>
{% endblock content %}