<!-- 로그인 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="stylesheet" href="{% static '/css/sign.css' %}">
<div id="users">
    <div class="login-wrapper">
        <h2>로그인</h2>
        <form action="" method="post" id="login-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="아이디" required oninvalid="this.setCustomValidity('아이디를 입력해주세요')" oninput="this.setCustomValidity('')">
            <input type="password" name="password" placeholder="비밀번호" required oninvalid="this.setCustomValidity('비밀번호를 입력해주세요')" oninput="this.setCustomValidity('')">
            <button id="loginBtn" type="submit">로그인</button>
            <!-- <input type="button"  onClick="location.href='../sign_up'" value="Join"> -->
        </form>
    </div>
</div>
{% endblock content %}