<!-- 상세페이지입니다 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="menu">
    <a href="{% url 'recommend' %}">장르별 음악</a>
    <a href="{% url 'index' %}">최신 음악</a>
    <a href="#">음악 추천 받기</a>
</nav>
<div id="detailBox">
    <div id='album_box'>
        <div id='album_title'>
            <h2>앨범 정보</h2>
        </div>
        <div id='album_detail'>
            <table>
                <tr>
                    <td class="image-cell">
                        <img src="{{ album.album_image }}">
                    </td>
                    <td class="description-cell">
                        <div class='album_name'>
                            {{ album.album_name }}
                        </div>
                        <div class='album_artist'>
                            {{ album.album_artist }}
                        </div>
                        <div class='album_detail'>
                            <span>발매일  </span> {{ album.album_release_date }}
                        </div>
                        <div class='album_detail'>
                            <span>장르  </span>
                                {% for genre in genres %}
                                    {{ genre }}
                                {% endfor %}
                        </div>
                        <div class='album_like'>
                            <button class="like_btn">
                                <img id="likeImage" src="{% static 'image/like.png' %}">
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id='album_song_box'>
        <div id='album_song_title'>
            <p>수록곡 <span>({{songs_data|length}})</span></p>
        </div>
        <div id='album_song_detail'>
            {% if songs_data %}
                <table id="album_songs">
                    <tr>
                        <th id='album_song_no'>번호</th>
                        <th id='album_song_name'>곡명</th>
                        <th id='album_song_preview'>미리듣기</th>
                        <th id='album_song_playlist'>담기</th>
                        <th id='album_song_thumbs'>좋아요</th>
                        <th id='album_song_analysis'>분석</th>
                    </tr>
                    {% for song in songs_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ song.song_name }}</td>
                            <td>
                                {% if song.song_preview_url %}
                                    <audio controls class="preview">
                                        <source src="{{ song.song_preview_url }}" type="audio/mpeg">
                                        브라우저가 오디오를 지원하지 않습니다.
                                    </audio>
                                {% else %}
                                    미리듣기 없음
                                {% endif %}
                            </td>
                            <td><a href="#"><button><img src="{% static 'image/add_playlist.png' %}"></button></a></td>
                            <td><button class='Thumbs_up_btn'><img class='Thumbs_up_image' src="{% static 'image/Thumbs_up.png' %}"></button></td>
                            <td><a href="{% url 'analysis' song.song_id %}"><button class='audio_feature_btn' data-songid="{{song.song_id}}"><img src="{% static 'image/analysis.png' %}"></button></a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}