<!-- 초기 화면입니다. 기본적으로 최신 앨범들이 나열되어있습니다. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<nav class="menu">
    <a href="{% url 'genre_albums' %}">장르별 음악</a>
    <a href="{% url 'index' %}">최신음악</a>
    <a href="{% url 'music_recommend' %}">음악 추천 받기</a>
</nav>


<div id="indexBox">
    <article>
        <div id="album_box">
            <div id="album_result">
                {% for album in albums %}
                <div class="album">
                    <a href="{% url 'detail' album.album_id %}" onmouseover="displayAlbumInfo(this)">
                        <img src="{{ album.album_image }}" alt="{{ album.album_name }}" class="album_img" onmouseover="displayAlbumInfo(this)">
                        <div class="album_info">
                            <p class="album_name">{{ album.album_name }}</p>
                            <p class="artist_name">{{ album.album_artist }}</p>
                            <p class="release_date">{{ album.album_release_date }}</p>
                            <div class="like-button">
                                <img id="heart-icon" onclick="likeAlbum(this, '{{ album.album_id }}')" data-album-id="{{ album.album_id }}" src="{% static '/image/heart_icon1.png' %}" alt="Liked">
                            </div>
                        </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                <div class="clear"></div>
                {% endif %}
                {% endfor %}
                    <!-- 페이지네이션 -->
                <div class="pagination">
                    <span class="step-links">
                    {% if albums.has_previous %}
                        <a href="?page=1">처음</a>
                        <a href="?page={{ albums.previous_page_number }}">이전</a>
                    {% endif %}

                    {% for i in albums.paginator.page_range %}
                    {% if i >= albums.number|add:"-3" and i <= albums.number|add:"3" %}
                        {% if albums.number == i %}
                            <span class="current-page">
                            페이지 {{ i }} / {{ albums.paginator.num_pages }}
                            </span>
                        {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% if albums.has_next %}
                        <a href="?page={{ albums.next_page_number }}">다음</a>
                        <a href="?page={{ albums.paginator.num_pages }}">마지막</a>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </article>
</div>

<script>
        // 페이지가 로드될 때 실행될 함수
    
    // 'liketrack' 변수는 Python에서 전달된 변수로 JavaScript에서 사용 가능
    var likealbum = {{ likealbum|safe }};
    
    
    // 페이지가 로드될 때 실행될 함수
    window.addEventListener('load', function() {
        var heartIcons = document.querySelectorAll("#heart-icon");

        heartIcons.forEach(function(heartIcon) {
           
        var albumId = heartIcon.getAttribute("data-album-id");

        if (likealbum.includes(albumId)) {
            heartIcon.src = "{% static '/image/heart_icon2.png' %}";
        } else {
            heartIcon.src = "{% static '/image/heart_icon1.png' %}";
        }

        });   
    });


    function displayAlbumInfo(albumElement) {
        var albumInfo = albumElement.querySelector('.album_info');
        if (albumInfo) {
            albumInfo.style.display = 'block';
        }
    }
    
    function hideAlbumInfo(albumElement) {
        var albumInfo = albumElement.querySelector('.album_info');
        if (albumInfo) {
            albumInfo.style.display = 'none';
        }
    }
    
    function likeAlbum(heartIcon, albumId) {
        var currentImageSrc = heartIcon.src;
        var currentImageFileName = currentImageSrc.substr(currentImageSrc.lastIndexOf('/') + 1);
        
        if (currentImageFileName === 'heart_icon1.png') {
            heartIcon.src = '{% static "/image/heart_icon2.png" %}';
            likeTrack(albumId, true);
        } else {
            heartIcon.src = '{% static "/image/heart_icon1.png" %}';
            likeTrack(albumId, false);
        }
        
        event.preventDefault();
        event.stopPropagation();
    }

    function likeTrack(albumId, isLiked) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/like_album/', true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        
        xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                console.log(this.responseText);
            }
        }
        
        if ({{ request.user.is_authenticated|lower }}) {
            xhr.send("id={{ request.user.id|default:'null' }}&album_id=" + albumId);
        } else {
            alert('로그인이 필요합니다.');
        }
    }

    
    var albums = document.querySelectorAll('.album');

    albums.forEach(function(albumElement) {
        albumElement.addEventListener('mouseover', function() {
            displayAlbumInfo(albumElement);
        });

        albumElement.addEventListener('mouseout', function() {
            hideAlbumInfo(albumElement);
        });
    });
      


  </script>
{% endblock content %}