<!-- 초기 화면입니다. 기본적으로 최신 앨범들이 나열되어있습니다. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="menu">
    <a href="{% url 'recommend' %}">추천음악</a>
    <a href="{% url 'index' %}">최신음악</a>
    <a href="#">선호음악</a>
</nav>
<div id="indexBox">
    <article>
        <div id="album_box">
            <table id="album_result">
                <tr>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                    <td>
                        <a href=""><img src="{% static '/image/post1.jpg' %}" alt=""></a>
                    </td>
                </tr>
                <tr><th>최신음악</th></tr>
            </table>
        </div>
    </article>
</div>
{% endblock content %}