<!-- 마이페이지입니다. index와 nav 메뉴가 다릅니다. -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
<div id="mypageBox">
    <nav id="mypage_nav">
        <a href="{% url 'playlist' %}">플레이리스트</a>
        <a href="{% url 'liked_album' %}">좋아요한 앨범</a>
        <a href="{% url 'liked_track' %}">좋아요한 트랙</a>
        <a href="{% url 'pwd_check' %}">회원정보</a>
    </nav>
</div>
{% endblock content %}