<!-- 추천페이지입니다 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="menu">
    <a href="{% url 'recommend' %}">추천음악</a>
    <a href="{% url 'index' %}">최신음악</a>
    <a href="#">선호음악</a>
</nav>
<div id="recomBox">
    <article>
        <ul class="recom_display">
            {% for album in recom_albums %}
            {% if album.album_genre == 'jazz' %}
            <li>
                <a href="" class="recom_img_box">
                    <img class="heart_icon" src="{% static '/image/heart_icon1.png' %}" alt="">
                    <h4 id="al_name">{{ album.album_name }}</h4>
                    <h4 id="al_artist">{{ album.album_artist }}</h4>
                    <img class="recom_img" src="{{ album.album_image }}" alt="">
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="recom_display">
            {% for album in recom_albums %}
            {% if album.album_genre == 'k-pop' %}
            <li>
                <div>
                    <img class="heart_icon" src="{% static '/image/heart_icon1.png' %}" alt="">
                </div>
                <a href="" class="recom_img_box">
                    <img class="recom_img" src="{{ album.album_image }}" alt="">
                    <h4>{{ album.album_name }}</h4>
                    <h4>{{ album.album_artist }}</h4>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="recom_display">
            {% for album in recom_albums %}
            {% if album.album_genre == 'J-pop' %}
            <li>
                <div>
                    <img class="heart_icon" src="{% static '/image/heart_icon1.png' %}" alt="">
                </div>
                <a href="" class="recom_img_box">
                    <img class="recom_img" src="{{ album.album_image }}" alt="">
                    <h4>{{ album.album_name }}</h4>
                    <h4>{{ album.album_artist }}</h4>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class="recom_display">
            {% for album in recom_albums %}
            {% if album.album_genre == 'electro' %}
            <li>
                <div class="recom_img_box">
                    <img class="heart_icon" src="{% static '/image/heart_icon1.png' %}" alt="">
                </div>
                <a href="" class="recom_img_box">
                    <img class="recom_img" src="{{ album.album_image }}" alt="">
                    <h4>{{ album.album_name }}</h4>
                    <h4>{{ album.album_artist }}</h4>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </article>
</div>
{% endblock content %}