<!-- 추천페이지입니다 -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/recommend.css' %}">

<nav class="menu">
    {% if user.is_authenticated %}
    <a href="{% url 'recommend' %}">장르별 음악</a>
    <a href="{% url 'index' %}">최신음악</a>
    <a href="#">음악 추천 받기</a>
    {% else %}
    <a href="{% url 'recommend' %}">장르별 음악</a>
    <a href="{% url 'index' %}">최신음악</a>
    {% endif %}
</nav>
<div id="recomBox">
    <article>
        {% if user_genre_list %}
        {% for user_genre in user_genre_list %}
        <div class="recom-group">
            <h3>{{ user_genre|upper }}</h3>
            <div class="recom_display">
                {% for album in recom_albums %}
                {% if album.album_genre == user_genre %}
                <div class="recom_item">
                    <a href="{% url 'detail' {{album.album_id}} %}" class="recom_img_box" onmouseover="displayAlbumInfo(this)">
                        <img class="recom_img" src="{{ album.album_image }}" alt="" onmouseover="displayAlbumInfo(this)">
                        <div class="album_info">
                            <p class="album_name">{{ album.album_name }}</p>
                            <p class="artist_name">{{ album.album_artist }}</p>
                            <p class="release_date">{{ album.album_release_date }}</p>
                            <div class="like-button">
                                <img id="heart-icon" onclick="likeAlbum(this)" src="{% static '/image/heart_icon1.png' %}" alt="Liked">
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
            </div>
            <button class="back">＜</button>
            <button class="next">＞</button>
        </div>
        {% endfor %}
        {% else %}
        <div>
            <h1>아직 선택하신 장르가 없습니다!</h1>
        </div>
        {% endif %}
    </article>
</div>

<script src="{% static '/js/recommend.js' %}"></script>
<script src="{% static '/js/test' %}"></script>
{% endblock content %}